---
import BackToTop from '../components/reusable/standard/BackToTop.astro';
import BlogCard from '../components/reusable/blogCard/BlogCard.astro';
import Layout from '../layouts/Layout.astro';
import type { BlogPost } from '../types';
const blogPosts: BlogPost[] = [
  // Your blog posts data here
];
---

<Layout>
  <main id="blogContent">
    <section class="flex flex-col min-h-80 max-w-[768px] mx-auto">
      {blogPosts.map(post => (
        <BlogCard 
          id={post.id} 
          title={post.title} 
          description={post.description} 
          views={post.views} 
          tags={post.tags} 
          lastUpdated={post.lastUpdated} 
        />
      ))}
    </section>
    <BackToTop />
  </main>
</Layout>